button, input, label, h1, h4 {
    text-align: left;
    justify-content: center;
    display: table-cell;
    align-items: center;
}

body {
    padding: 10px;
}

input {
    width: 150px !important;
    display: inline-block !important;
}